@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;SS700&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: top;
}

a,
a:visited {
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

ul li {
  list-style: none;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
  color: #34383d;
}

/* Container */

.container {
  width: 100%;
  max-width: 1680px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Basic Styles */

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid #cda861;
}

.subtitle {
  font-size: 22px;
}

.btn {
  display: inline-block;
  font-weight: 700;
  padding: 11px 41px;
  color: #34383d;
  background-color: #cda861;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  text-transform: capitalize;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.btn:hover {
  background-color: #a38a57ce;
}

.btn__min {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 9px 32px;
  color: #34383d;
  background-color: #cda861;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  text-transform: capitalize;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.btn__min:hover {
  background-color: #a38a57ce;
}

.logo {
  padding: 11px 48px;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  background-color: #34383d;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.logo:hover {
  background-color: #34383dcb;
}

/* Header */

.header {
  padding-top: 20px;
  background: url("../img/backgroundHeader.png") 0 0/cover no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

/* Burger */

.burger__mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.close__burger {
  display: none;
}

.header__burger.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heder__inner__tel {
  width: 69%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.heder__inner__tel a {
  position: relative;
  padding-left: 35px;
  color: #34383d;
}

.heder__inner__tel a::before {
  content: "";
  position: absolute;
  background: url("../img/headphone.png") center no-repeat;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.header__inner__git a {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: transparent;
  background-color: #15081b;
  text-shadow: white 3px 0 10px;
  -webkit-text-stroke: 2px white;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
  padding: 11px 41px;
  border-radius: 50px;
  text-transform: capitalize;
  -webkit-animation: flicker 1.5s infinite alternate;
          animation: flicker 1.5s infinite alternate;
}

@-webkit-keyframes flicker {
  0%, 18%, 22%, 25%, 54%, 57%, 100% {
    text-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 19px #fff, 0 0 25px #314fa1, 0 0 43px #314fa1, 0 0 50px #314fa1, 0 0 60px #314fa1, 0 0 75px #314fa1;
  }

  19%, 24%, 55% {
    text-shadow: none;
  }
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 54%, 57%, 100% {
    text-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 19px #fff, 0 0 25px #314fa1, 0 0 43px #314fa1, 0 0 50px #314fa1, 0 0 60px #314fa1, 0 0 75px #314fa1;
  }

  19%, 24%, 55% {
    text-shadow: none;
  }
}

.nav button {
  margin-right: 25px;
}

.nav__button {
  font-size: 20px;
  margin-right: 25px;
  color: #34383d;
  background-color: transparent;
  cursor: pointer;
}

.nav__button:hover {
  color: #34383d9d;
  border-bottom: 3px solid #cda861;
}

.nav__button:last-child {
  margin-right: 0;
}

.header__content {
  max-width: 660px;
  margin-top: 50px;
}

.header__content h1 {
  font-size: 66px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.header__content h1 span {
  color: #cda861;
  text-decoration: underline;
}

.header__content p {
  max-width: 640px;
  margin: 30px 0 60px;
}

.header__content a {
  margin-bottom: 20px;
}

/* About Us */

.about {
  position: relative;
  max-width: 1600px;
  margin: 80px auto;
}

.about__position {
  position: absolute;
  bottom: -80px;
  left: -50px;
  z-index: -1;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  background: #cda8611a;
  z-index: 1;
}

.about__inner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__inner__content__text {
  max-width: 513px;
  margin: 20px 10px;
}

.about__inner__content__text h3 {
  font-size: 66px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.about__inner__content__text p {
  padding: 30px 0 24px;
}

/* ProductSell */

.productSell {
  position: relative;
  text-align: center;
  margin: 80px auto;
}

.productSell p {
  margin: 20px 0 30px;
}

.productSell__position {
  position: absolute;
  top: 3px;
  right: 0;
  z-index: -100;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-slide h3 {
  margin: 18px 0 30px;
  font-size: 24px;
}

.swiper-slide p {
  font-size: 26px;
  margin: 17px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.swiper-slide h4 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
  max-width: 257px;
}

.swiper-slide__relative {
  position: relative;
  z-index: 1;
}

.swiper-slide__background {
  position: absolute;
  display: inline-block;
  width: 250px;
  height: 150px;
  top: 30px;
  border-radius: 30px;
  background-color: #f2f1f1;
  z-index: -1;
}

.swiper-button-next,
.swiper-button-prev {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #cda861;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
  font-weight: 700;
  color: #34383d;
}

/* Progress bar */

.special__deals {
  position: relative;
}

.special__deals__position__up {
  position: absolute;
  top: 3px;
  right: 100px;
  z-index: -100;
}

.special__deals__position__down {
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: -100;
}

.progress__bar__content {
  max-width: 1520px;
  margin: 0 auto;
  text-align: center;
  background: url("../img/sofa.png") 0 0/cover no-repeat;
  background-size: 100% 100%;
  height: calc(420px + 360 * (100vw - 320px) / 1360);
}

.progress__bar__content h2 {
  margin-top: 60px;
  border: none;
  color: #000000;
}

.progress__bar__content a {
  margin: 35px 0;
}

.progress__bar__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.progress__bar {
  margin: 40px;
  padding: 10px;
  width: 120px;
  height: 120px;
  position: relative;
}

.progress__bar__outer {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 2px;
  background: #fff;
  -webkit-box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.progress__bar__inner {
  height: 96px;
  width: 96px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #799b94;
}

.progress__bar__time {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

.progress__bar__svg {
  position: absolute;
  top: 0;
  left: 0;
}

.progress__bar circle {
  fill: none;
  stroke: #fff;
  stroke-width: 10px;
  stroke-dasharray: 315;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
}

.progress__bar__text {
  font-family: "Montserrat", sans-serif;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  text-align: center;
}

/* Features */

.features {
  margin: 80px auto;
  text-align: center;
  position: relative;
}

.features__position {
  position: absolute;
  top: 20px;
  right: 96%;
  z-index: -100;
}

.features img {
  margin-bottom: -40px;
}

.features__inner {
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #cda86130;
  border-radius: 50px;
}

.features__inner img {
  padding: 30px;
}

/* Blog */

.blog {
  margin: 80px auto;
  position: relative;
  text-align: center;
}

.blog p {
  margin: 20px 0 30px;
}

.blog__position {
  position: absolute;
  top: 500px;
  left: 0;
  z-index: 1;
}

.blog__positionUp {
  position: absolute;
  top: 160px;
  right: 30px;
  z-index: -100;
}

.blog__positionBackgound {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -100;
}

.blog__wrap {
  margin: 0 auto;
  max-width: 1284px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-gap: 5vw;
  z-index: 2;
}

.blog__position__relative {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.blog__position__absolute {
  position: absolute;
  text-align: left;
  color: #fff;
  left: 8%;
  bottom: 20px;
}

.blog__position__absolute span {
  font-size: 14px;
}

.blog__position__absolute h3 {
  font-size: 36px;
}

.blog__position__absolute a {
  font-size: 20px;
  color: #ffffffcc;
}

.blog__position__absolute a:hover {
  color: #ffffff70;
}

.blog__calendar {
  position: relative;
  padding: 0 10px 0 25px;
}

.blog__calendar::before {
  position: absolute;
  content: "";
  background: url("../img/blog/calendar.png") no-repeat center;
  top: 40%;
  left: 0;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.blog__comments {
  position: relative;
  padding: 0 10px 0 25px;
}

.blog__comments::before {
  position: absolute;
  content: "";
  background: url("../img/blog/comment.png") no-repeat center;
  top: 40%;
  left: 0;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Whats People Say`s */

.comments {
  text-align: center;
  position: relative;
  background: #f5eee1;
  padding: 80px 0;
}

.comments__position {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.comments__position__inside {
  position: absolute;
  top: 200px;
  right: 0;
  z-index: 0;
}

.comments__inner {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 1vw;
  z-index: 1;
}

.comments__inner__box {
  margin: 70px auto 0;
  position: relative;
  text-align: center;
  background: #f8f7f7;
  -webkit-box-shadow: 0px 2px 18px 0px #00000026;
          box-shadow: 0px 2px 18px 0px #00000026;
  border-radius: 50px;
  z-index: 1;
}

.comments__inner__box img {
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.comments__inner__box p {
  max-width: 480px;
  padding: 0 20px;
  margin: 110px auto 50px;
  font-size: 18px;
}

.comments__inner__box h3 {
  font-weight: 700;
  font-size: 22px;
  color: #000;
}

.comments__inner__box span {
  margin-bottom: 50px;
  display: inline-block;
  font-size: 20px;
  color: #000;
}

/* Featured Products */

.featured {
  position: relative;
  margin: 80px auto;
}

.featured__position {
  position: absolute;
  bottom: 300px;
  left: 30px;
  z-index: -100;
}

.featured__positionUp {
  position: absolute;
  top: -80px;
  right: 0;
  z-index: -100;
}

.featured__content {
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}

.featured__content .subtitle {
  margin: 20px 0 30px;
}

.featured__products {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  grid-gap: 2vw;
  z-index: 1;
}

.featured__products img {
  max-width: 100%;
}

.featured__products li {
  text-align: left;
  margin: 0 auto;
  max-width: 400px;
  z-index: 1;
}

.featured__products h3 {
  margin: 30px 0 15px;
  font-size: 20px;
  font-weight: 700;
}

.featured__products h4 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 400;
}

.inner__wrap__price {
  font-size: 30px;
  font-weight: 700;
}

.inner__wrap__price i {
  padding-right: 10px;
}

.inner__wrap__price span {
  color: #34383d;
  text-decoration: none;
}

.products__special {
  color: #cda861;
  text-decoration: line-through;
}

.products__avaliable {
  pointer-events: none;
  opacity: 0.5;
}

/* Subscribe */

.subscribe {
  position: relative;
  background-color: #f5eee1;
  padding: 80px 0;
  z-index: 2;
}

.subscribe__positionUp {
  position: absolute;
  top: 0;
  left: 80px;
  z-index: 0;
}

.subscribe__positionDown {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.subscribe__background {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background: url(../img/backgroundSubscribe.png) 0 0/cover no-repeat;
  background-size: 100% 100%;
  height: calc(340px + 360 * (100vw - 320px) / 1360);
}

.subscribe__content {
  position: absolute;
  text-align: center;
  top: 180px;
  left: 100px;
  z-index: 3;
}

.subscribe__content p {
  margin: 20px 0 80px;
}

.subscribe__content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 10px;
}

.subscribe__content form input[type=email] {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #000;
}

.subscribe__content form input:focus {
  background-color: transparent;
}

.subscribe__content form input[type=submit] {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

/* Footer */

.footer {
  padding: 80px;
  background-color: #cda861;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer__inner h2 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 700;
  border-bottom: 2px solid #fff;
}

.footer__inner__logo {
  max-width: 610px;
}

.footer__inner__logo p {
  margin: 20px 0;
  font-size: 22px;
  font-weight: 400;
}

.footer__inner__logo__social a {
  margin-right: 10px;
}

.footer__inner__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.footer__inner__wrap ul {
  padding-left: 30px;
}

.footer__inner__wrap li {
  list-style-type: disc;
  margin-top: 20px;
}

.footer__inner__wrap button {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: #34383d;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.footer__inner__wrap button:hover {
  color: #34383d85;
}

/* Modal*/

.modal {
  position: absolute;
  visibility: hidden;
  overflow-y: auto;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.modal_active {
  position: fixed;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.modal__content {
  margin: 50px auto;
  width: 100%;
  max-width: 760px;
  padding: 0 25px;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  -webkit-box-shadow: 0 5px 15px black;
          box-shadow: 0 5px 15px black;
}

.modal__content__header h3 {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.87);
}

.modal__close {
  font-size: 34px;
  font-weight: 300;
  color: #928f8f;
  cursor: pointer;
}

.modal__content__text {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  line-height: 1.2;
  text-align: left;
  z-index: 11;
}

.modal__content__text p {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
}

/* Copyright */

.copyright {
  text-align: center;
  background-color: #34383d;
}

.copyright h3 {
  padding: 18px 0;
  font-size: 18px;
  font-weight: 400;
  color: #cda861;
}

@media (max-width: 1400px) {
  .about__inner__content {
    display: block;
  }
}

@media (max-width: 1200px) {
  .header {
    background-size: auto 100%;
    background-position: 25% 75%;
  }

  .about__inner {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .blog__wrap {
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    grid-gap: 3vw;
  }

  .footer__inner {
    display: block;
  }

  .footer__inner__logo {
    max-width: 100%;
  }

  .footer__inner__wrap {
    width: 100%;
    margin-top: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 992px) {
  .logo {
    padding: 8px 40px;
    font-size: 24px;
  }

  .burger-fixed {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 50;
  }

  .burger-fixed .burger-btn {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden !important;
    background-color: #ffffffb0;
    border-radius: 50%;
    z-index: 55;
  }

  .burger-fixed .burger-btn span {
    width: 28px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #34383d;
  }

  .burger-fixed .burger-btn span:nth-of-type(1) {
    top: calc(50% - 8px);
  }

  .burger-fixed .burger-btn span:nth-of-type(3) {
    top: calc(50% + 8px);
  }

  .close__burger {
    position: absolute;
    display: inline-block;
    top: -10px;
    right: 10px;
    font-size: 50px;
  }

  .header__burger {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    padding: 48px 40px 38px;
    max-width: 350px;
    width: 100%;
    height: 100%;
    background-color: #ffffffec;
    -webkit-transform: translateX(-130%);
        -ms-transform: translateX(-130%);
            transform: translateX(-130%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index: 120;
  }

  .header__inner {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .heder__inner__tel {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .heder__inner__tel a {
    margin-bottom: 10px;
  }

  .header__inner__git a {
    margin: 10px 0 30px;
  }

  .nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav__button {
    margin-top: 25px;
  }

  .about__inner__content__text h3 {
    font-size: 36px;
  }

  .progress__bar {
    margin: 20px;
  }

  .blog__wrap {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .subscribe__content {
    top: 100px;
    left: 70px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 18px;
  }

  .btn {
    font-size: 22px;
  }

  .header__content h1 {
    font-size: 40px;
    max-width: 350px;
  }

  .about {
    margin: 40px auto;
  }

  .productSell {
    margin: 40px auto;
  }

  .progress__bar__content {
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: 25% 75%;
  }

  .progress__bar__wrapp {
    max-width: 400px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .features {
    margin: 40px auto;
  }

  .blog {
    margin: 40px auto;
  }

  .comments {
    padding: 40px 0;
  }

  .featured {
    margin: 40px auto;
  }

  .subscribe {
    padding: 40px 0;
  }

  .subscribe__background {
    background-size: auto 100%;
    background-position: 75% 25%;
  }

  .subscribe__content {
    max-width: 70%;
    top: 30px;
    left: 15px;
    text-align: left;
  }

  .subscribe__content p {
    margin: 20px 0;
  }

  .subscribe__content form {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    max-width: 340px;
    display: block;
    padding: 0;
  }

  .subscribe__content form input[type=email] {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 50px;
    font-size: 18px;
    padding: 10px;
  }

  .footer {
    padding: 40px 0;
  }

  .modal__content {
    margin: 20px auto;
    width: 90%;
  }
}

@media (max-width: 576px) {
  .header__burger {
    max-width: 100%;
  }

  .features__inner {
    padding: 40px 0;
  }

  .blog__position__absolute h3 {
    font-size: 24px;
  }

  .comments__inner {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

  .featured__products {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

  .inner__wrap__price {
    font-size: 24px;
  }

  .subscribe__content form input[type=submit] {
    font-size: 20px;
  }

  .footer__inner h2 {
    font-size: 20px;
  }

  .footer__inner__wrap li {
    margin-top: 5px;
  }

  .footer__inner__wrap button {
    font-size: 18px;
  }
}