@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto:wght@400;500;700&display=swap");
@import "../scss/reset.scss";
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/navigation/navigation.scss";

body {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
  color: #34383d;
}

/* Container */
.container {
  width: 100%;
  max-width: 1680px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Basic Styles */
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid #cda861;
}

.subtitle {
  font-size: 22px;
}

.btn {
  display: inline-block;
  font-weight: 700;
  padding: 11px 41px;
  color: #34383d;
  background-color: #cda861;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  text-transform: capitalize;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: #a38a57ce;
  }
}

.btn__min {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 9px 32px;
  color: #34383d;
  background-color: #cda861;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  text-transform: capitalize;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: #a38a57ce;
  }
}

.logo {
  padding: 11px 48px;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  background-color: #34383d;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: #34383dcb;
  }
}

/* Header */
.header {
  padding-top: 20px;
  background: url("@img/backgroundHeader.png") 0 0 / contain no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heder__inner__tel {
  width: 69%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;

  a {
    position: relative;
    padding-left: 35px;
    color: #34383d;

    &::before {
      content: "";
      position: absolute;
      background: url("@img/headphone.png") center no-repeat;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
    }
  }
}

.header__inner__git {
  a {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: transparent;
    background-color: #15081b;
    text-shadow: rgb(255, 255, 255) 3px 0 10px;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    filter: blur(0.5px);
    padding: 11px 41px;
    border-radius: 50px;
    text-transform: capitalize;
    animation: flicker 1.5s infinite alternate;
  }
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  54%,
  57%,
  100% {
    text-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 19px #fff, 0 0 25px rgb(49, 79, 161), 0 0 43px rgb(49, 79, 161),
      0 0 50px rgb(49, 79, 161), 0 0 60px rgb(49, 79, 161), 0 0 75px rgb(49, 79, 161);
  }

  19%,
  24%,
  55% {
    text-shadow: none;
  }
}

.nav {
  button {
    margin-right: 25px;
  }

  a {
    font-size: 20px;
    margin-right: 25px;
    color: #34383d;

    &:hover {
      color: #34383d9d;
      border-bottom: 3px solid #cda861;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.header__content {
  max-width: 660px;
  margin-top: 50px;

  h1 {
    font-size: 66px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;

    span {
      color: #cda861;
      text-decoration: underline;
    }
  }

  p {
    max-width: 640px;
    margin: 30px 0 60px;
  }

  a {
    margin-bottom: 20px;
  }
}

/* About Us */
.about {
  position: relative;
  max-width: 1600px;
  margin: 80px auto;
}

.about__position {
  position: absolute;
  bottom: -80px;
  left: -50px;
}

.about__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  background: #cda8611a;

  img:first-child {
    max-width: 50%;
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.about__inner__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media (max-width: 1395px) {
    display: block;
  }
}

.about__inner__content__text {
  max-width: 513px;
  margin: 20px 10px;

  h3 {
    font-size: 66px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    @media (max-width: 1000px) {
      font-size: 40px;
    }
  }

  p {
    padding: 30px 0 24px;
  }
}

/* ProductSell */
.productSell {
  position: relative;
  text-align: center;
  margin: 80px auto;

  p {
    margin: 20px 0 30px;
  }
}

.productSell__position {
  position: absolute;
  top: 3px;
  right: 0;
  z-index: -100;
}

.special__deals__position__up {
  position: absolute;
  top: 3px;
  right: 100px;
  z-index: -100;
}

.special__deals__position__down {
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: -100;
}

.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  h3 {
    margin: 18px 0 30px;
    font-size: 24px;
  }

  p {
    font-size: 26px;
    margin: 17px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 400;
    max-width: 257px;
  }
}

.swiper-slide__relative {
  position: relative;
  z-index: 1;
}

.swiper-slide__background {
  position: absolute;
  display: inline-block;
  width: 250px;
  height: 150px;
  top: 30px;
  border-radius: 30px;
  background-color: #f2f1f1;
  z-index: -1;
}

.swiper-button-next,
.swiper-button-prev {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #cda861;

  &::after {
    font-size: 18px;
    font-weight: 700;
    color: #34383d;
  }
}

/* Progress bar */
.progress__bar__content {
  max-width: 1520px;
  margin: 0 auto;
  text-align: center;
  background: url("@img/sofa.png") 0 0 / contain no-repeat;
  background-size: 100% 100%;
  height: calc(420px + 360 * ((100vw - 320px) / (1680 - 320)));

  h2 {
    margin-top: 60px;
    border: none;
    color: #000000;
  }

  a {
    margin-top: 35px;
  }
}

.progress__bar__wrapp {
  display: flex;
  justify-content: center;
}

.progress__bar {
  margin: 40px;
  padding: 10px;
  width: 120px;
  height: 120px;
  position: relative;
}

.progress__bar__outer {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 2px;
  background: #fff;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.progress__bar__inner {
  height: 96px;
  width: 96px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #799b94;
}

.progress__bar__time {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

.progress__bar__svg {
  position: absolute;
  top: 0;
  left: 0;
}

.progress__bar circle {
  fill: none;
  stroke: #fff;
  stroke-width: 10px;
  stroke-dasharray: 315;
  transform: rotate(-90deg);
  transform-origin: 50%;
}

.progress__bar__text {
  font-family: "Montserrat", sans-serif;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  text-align: center;
}

/* Features */
.features {
  margin: 80px auto;
  text-align: center;
  position: relative;
}

.features__position {
  position: absolute;
  top: 20px;
  right: 96%;
  z-index: -100;
}

.features img {
  margin-bottom: -40px;
}

.features__inner {
  padding: 120px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #cda86130;
  border-radius: 50px;
}

/* Blog */
.blog {
  margin: 80px auto;
  position: relative;
  text-align: center;

  p {
    margin: 20px 0 30px;
  }
}

.blog__position {
  position: absolute;
  top: 600px;
  left: 0;
  z-index: 1;
}

.blog__positionUp {
  position: absolute;
  top: 160px;
  right: 30px;
  z-index: -100;
}

.blog__positionBackgound {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -100;
}

.blog__wrap {
  margin: 0 auto;
  width: 1284px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(585px, 1fr));
  grid-gap: 5vw;
  z-index: 2;
  @media (max-width: 1273px) {
    max-width: 585px;
  }
}

.blog__position__relative {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.blog__position__absolute {
  position: absolute;
  text-align: left;
  color: #fff;
  left: 8%;
  bottom: 20px;

  span {
    font-size: 14px;
  }

  h3 {
    font-size: 36px;
  }

  a {
    font-size: 20px;
    color: #ffffffcc;
    &:hover {
      color: #ffffff70;
    }
  }
}

.blog__calendar {
  position: relative;
  padding: 0 10px 0 25px;

  &::before {
    position: absolute;
    content: "";
    background: url("@img/blog/calendar.png") no-repeat center;
    top: 40%;
    left: 0;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
  }
}

.blog__comments {
  position: relative;
  padding: 0 10px 0 25px;

  &::before {
    position: absolute;
    content: "";
    background: url("@img/blog/comment.png") no-repeat center;
    top: 40%;
    left: 0;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
  }
}

/* Whats People Say`s */
.comments {
  text-align: center;
  position: relative;
  background: #f5eee1;
  padding: 80px 0;
}

.comments__position {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.comments__position__inside {
  position: absolute;
  top: 200px;
  right: 0;
  z-index: 0;
}

.comments__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 1vw;
  z-index: 1;
}

.comments__inner__box {
  margin: 70px auto 0;
  position: relative;
  text-align: center;
  background: #f8f7f7;
  box-shadow: 0px 2px 18px 0px #00000026;
  border-radius: 50px;
  z-index: 1;

  img {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
  }

  p {
    max-width: 480px;
    padding: 0 20px;
    margin: 110px auto 50px;
    font-size: 18px;
  }

  h3 {
    font-weight: 700;
    font-size: 22px;
    color: #000;
  }

  span {
    margin-bottom: 50px;
    display: inline-block;
    font-size: 20px;
    color: #000;
  }
}

/* Featured Products */
.featured {
  position: relative;
  margin: 80px auto;
}

.featured__position {
  position: absolute;
  bottom: 300px;
  left: 30px;
  z-index: -100;
}

.featured__positionUp {
  position: absolute;
  top: -80px;
  right: 0;
  z-index: -100;
}

.featured__content {
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;

  .subtitle {
    margin: 20px 0 30px;
  }
}

.featured__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2vw;
  z-index: 1;

  li {
    text-align: left;
    margin: 0 auto;
    width: 400px;
    z-index: 1;
  }

  h3 {
    margin: 30px 0 15px;
    font-size: 20px;
    font-weight: 700;
  }

  h4 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 400;
  }
}

.inner__wrap__price {
  i {
    font-size: 32px;
    font-weight: 700;
    padding-right: 10px;

    span {
      color: #34383d;
      text-decoration: none;
    }
  }
}

.products__special {
  color: #cda861;
  text-decoration: line-through;
}

.products__avaliable {
  pointer-events: none;
  opacity: 0.5;
}

/* Subscribe */
.subscribe {
  position: relative;
  background-color: #f5eee1;
  z-index: 2;
}

.subscribe__positionUp {
  position: absolute;
  top: 0;
  left: 80px;
  z-index: 0;
}

.subscribe__positionDown {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.subscribe__background {
  max-width: 1440px;
  margin: 0 auto;
  background: url(@img/backgroundSubscribe.png) 0 0 / contain no-repeat;
  background-size: 100% 100%;
  height: calc(420px + 360 * ((100vw - 320px) / (1680 - 320)));
  z-index: 2;
}

.subscribe__content {
  display: inline-block;
  margin: 140px 0 0 130px;

  p {
    text-align: center;
    margin: 20px 0 80px;
  }
}

.subscribe__content form {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 150px;
  padding: 10px 12px;

  input[type="email"] {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #000;
  }

  input:focus {
    background-color: transparent;
  }

  input[type="submit"] {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
  }
}

/* Footer */
.footer {
  padding: 80px;
  background-color: #cda861;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h2 {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 700;
    border-bottom: 2px solid #fff;
  }
}

.footer__inner__logo {
  max-width: 610px;

  p {
    margin: 20px 0;
    font-size: 22px;
    font-weight: 400;
  }
}

.footer__inner__logo__social a {
  margin-right: 10px;
}

.footer__inner__wrap {
  display: flex;
  justify-content: space-between;
  width: 30%;

  ul {
    padding-left: 30px;
  }

  li {
    list-style-type: disc;
    margin-top: 20px;
  }

  button {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: #34383d;
    text-transform: uppercase;
    background-color: transparent;
    transition: color 0.2s linear;

    &:hover {
      color: #34383d85;
    }
  }
}

/* Modal*/
.modal {
  position: absolute;
  visibility: hidden;
  overflow-y: auto;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.modal_active {
  position: fixed;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.modal__content {
  margin: 50px auto;
  width: 100%;
  max-width: 760px;
  padding: 0 25px;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 5px 15px black;

  @media(max-width: 768px) {
    margin: 20px auto;
    width: 90%;
  }
}

.modal__content__header h3 {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.87);
}

.modal__close {
  font-size: 34px;
  font-weight: 300;
  color: rgb(146, 143, 143);
  cursor: pointer;
}

.modal__content__text {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  line-height: 1.2;
  text-align: left;
  z-index: 11;
}

.modal__content__text p {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
}

/* Copyright */
.copyright {
  text-align: center;
  background-color: #34383d;

  h3 {
    padding: 18px 0;
    font-size: 18px;
    font-weight: 400;
    color: #cda861;
  }
}
